.login_form_tbl {
    font-family: Arial, Helvetica, Sans-Serif;
    background-color: #FFFFFF;

    border-width: 0px;
    border-style: none;
    border-color: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

td.login_form_title {
    font-family: Arial, Helvetica, Sans-Serif;
    display: table-cell;
    font-size: 12px;
    color: #000000;
    text-align: start;
    font-weight: normal;
}

td.login_form_text {
    display: table-cell;
    text-align: start;
}
input.login_form_input {
    font-family: Arial, Helvetica, Sans-Serif;
    width: 150px;
    font-size: 12px;
    color: #333333;
    text-align: start;
    font-weight: normal;
    background-color: #FFFFFF;

    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;

    margin-top: 0px;
    margin-bottom: 1px;
}
input.login_form_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FFFFFF;
}
input.login_form_input::-moz-placeholder { /* Firefox 19+ */
    color: #FFFFFF;
}
input.login_form_input:-ms-input-placeholder { /* IE 10+ */
    color: #FFFFFF;
}
input.login_form_input:-moz-placeholder { /* Firefox 18- */
    color: #FFFFFF;
}

span.lost_pass a {
    font-family: Arial, Helvetica, Sans-Serif;
    display: inline;
    font-size: 11px;
    color: #666666;
    text-align: start;
    font-weight: bold;
    text-decoration: none;
}
span.login_form_btn {
    display: inline;
    text-align: start;

    margin-left: 23px;
}
.login_form_submit{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #C70707;

    border-width: 1px;
    border-style: none;
    border-color: #000000;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    padding-top: 5px;
    padding-right: 35px;
    padding-bottom: 5px;
    padding-left: 35px;
    margin-top: 10px;
}

.login_form_error_msg {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    color: #C70707;
    text-align: start;
    font-weight: normal;
    background-color: #F6F6F6;

    border-width: 1px;
    border-style: solid;
    border-color: #818181;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
